@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Raleway:wght@300;400;600&display=swap");

.StatsbombShowcase {
  position: relative;
  margin: auto;
  width: 70%;
  text-align: center;
}

.button {
  @apply cardComponent smallEnlarge text-sm p-2;
}

.section-wrapper {
  @apply mt-12;
}

.section-wrapper .visual-title {
  @apply mb-2 text-left text-xl leading-tight tracking-tighter font-black;
}

.section-wrapper .visual-description {
  @apply leading-6 text-justify;
}

.section-wrapper .visual-table {
  @apply mt-4 mb-4 flex justify-center;

  table th,
  table td {
    @apply text-left px-4;
  }
}

.section-wrapper .visual-previews {
  @apply mt-2 flex flex-row justify-center gap-4;
}

.section-wrapper .visual-previews img {
  @apply mt-2 rounded-md w-[150px] smallEnlarge opacity-80 cardComponent;
}
