@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Raleway:wght@300;400;600&display=swap");

.StatsbombShowcase {
  position: relative;
  font-family: "Montserrat", sans-serif;
  margin: auto;
  width: 70%;
  text-align: center;
}

.title {
  margin-top: 30px;
  font-size: 3rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}

.visual-wrapper {
  margin-top: 25px;
}

.visual-wrapper .visual-title {
  margin-bottom: 10px;
  text-align: left;
  font-size: 1.5em;
  line-height: 1.2;
  letter-spacing: -0.1rem;
  font-weight: 900;
}

.visual-wrapper .visual-text {
  line-height: 25px;
  text-align: justify;
}

.visual-wrapper .visual-img {
  margin-top: 10px;
}

#intro-wrapper {
  margin-top: 50px;
}

#intro-wrapper .intro-text {
  line-height: 25px;
  text-align: justify;
}

#outro-wrapper {
  margin-bottom: 50px;
}

#outro-wrapper .outro-text {
  line-height: 25px;
  text-align: justify;
}

#outro-wrapper .outro-links {
  margin-top: 50px;
}
